* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #F3F3F3;
    margin-bottom: 20px;
}

:root {
    --tone-chudao: #BF3674;
}

.container {
    text-decoration: none;
    background-color: #F3F3F3;
}

.header-tong {
    text-align: center;
}

.header-tong .header {
    background-color: var(--tone-chudao);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}

.header-tong .header a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;

}

.header-tong .header .logo img {
    border-radius: 10px;
    margin: 5px 0;
}

.header-tong .header2 h1{
    margin: 0 6%;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid black;
}
.header-tong .header2 .menu ul{
    display: flex;
    justify-content: space-between;
    margin: 5px 6%;
    background-color: white;
    border: 1px solid black;
}

.header-tong .header2 .menu ul li{
    display: block;
    padding: 15px 20px 15px 0;
}

.header-tong .header2 .menu ul li a{
    padding: 15px 10px;
    color: black;
    font-size: 15px;
}

.header-tong .header2 .menu ul li:hover a{
    background-color: var(--tone-chudao);
}

.content{
    margin: 0 6%;
}

.content .titel {
    background-color: #c8c2cf;
    padding: 10px;
    margin-bottom: 10px;
}

.content .form .group select {
    width: 60%;
    height: 30px;
    font-size: 20px;
}

.content .form .group textarea {
    outline: none;
    padding: 5px;
    font-size: 20px;
}

.content  .timkiem {
    width: 20%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
}

.content  .listok {
    width: 5%;
    height: 30px;
    font-size: 20px;
}

.content  .show_dm {
    width: 20%;
    height: 30px;
    font-size: 20px;
}

.content .form .group input {
    width: 60%;
    height: 30px;
    font-size: 17px;
    padding: 5px;
}

.content .form .group-submit{
    padding-top: 15px;
}

.content .group-submit input {
    padding: 10px;
}

.content .form .form-list{
    padding-bottom: 20px;
}

.content .form .form-list table{
    border: 1px solid black;
    width: 100%;
    background-color: #CDCBCD;
}


.content .form .form-list table tr th{
    text-align: center;
    background-color: #CDCBCD;
    border: 1px solid black;
    padding: 10px 0;
}

.content .form .form-list table tr td {
    background-color: white;
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
}

.content .form .form-list table tr td>input[type=button] {
    padding: 5px
}